@charset "UTF-8";

@font-face {
    font-family:'lemon';
    src: url(../fontes/GaMaamli-Regular.ttf);
}
* {
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
}

:root {
    /*cores*/
    --cor1:#101633;
    --cor2:#1C1F46;
    --cor3:#24285A;
    --cor4:#303B7A;
    --cor5:#4D5FC4;
    --cor6:#571396;
    --cor7:#943ae9;
    --cor8:#613c0c;
    --cor9:#fbbe3c;
}

body {
    background-color:var(--cor1);
    height: 100vh;
}

header {
    background-color:var(--cor4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    height:45px;
}

header section#title {
    display:flex;
    align-items:center;
}

header h1 {
    color:white;
    margin:5px;
    font-size:1em;
    font-family:'lemon';
}

header img {
    width:35px;
    margin:5px;
    padding:5px;
    border-radius:50%;
}

header a {
    display:flex;
    color:white;
    text-decoration: none;
    align-items: center;
}

header a p:hover {
    color:white;
    background-color:var(--cor2);
}

header a p {
    background-color:var(--cor5);
    padding:10px;
    font-size:0.8em;
    border-radius:5px;
}

header span {
    color:rgb(214, 212, 212);
    cursor:pointer;
}

menu#itens {
    display:none;
    background-color:var(--cor4);
    margin:auto;
    width:100%;
    height:45px;
    border-top:1px solid var(--cor2);
}

menu ul {
    display:flex;
    height:100%;
    list-style-type:none;
    justify-content: space-evenly;
    align-items: center;
}

menu li {
    background-color:var(--cor4);
    padding:5px;
    
}

menu a {
    color:white;
    text-decoration:none;
}

menu a:hover {
    color:rgb(214, 212, 212);
}

main {
    background-color:var(--cor2);
    width:90%;
    margin:auto;
    border-radius:5px;
    margin-top:40px;
    margin-bottom:40px;
}

article#esp {
    width:90%;
    margin:auto;
    background-color:var(--cor2);
    padding:15px;
    border-radius:5px;
}


main section {
    margin-top:20px;
}

article#esp h1 {
    color:white;
    font-size:1.3em;
}

article#esp h3 {
    color:white;
    margin-bottom:5px;
}


article#esp p {
    color:rgb(190, 188, 188);
    line-height:1.2em;
}

div.tabela {
    overflow-x:auto;
}

table {
    background-color:var(--cor1);
    width:800px;
    margin:auto;
}

th {
    color:rgb(233, 232, 232);
    font-size:1.2em;
    padding:10px;
    background-color:var(--cor1);
}

tr {
    background-color: var(--cor3);
    color:white;
}


td {
  text-align: center;
  padding:15px;
}



div#nome {
    width:40px;
    margin:auto;
}

 td  img {
    width:35px;
    display:block;
    margin:auto;
}

td.elementos {
    display:flex;
    align-items:center;
    padding:10px;
}

td.elementos-2 {
    display: flex;
    align-items: center;
    margin-top:15px;
}

td.elementos-3 {
    display: flex;
    align-items: center;
    margin-top:28px;
}

mark.e1 {
    color:rgb(194, 56, 248);
    background:none;
}

mark.e2 {
    color:rgb(248, 56, 56);
    background:none;
}

mark.e3 {
    color:rgb(148, 227, 251);
    background:none;
}

mark.e4 {
    color:rgb(105, 255, 118);
    background:none;
}

mark.e5 {
    color:yellow;
    background:none;
}

mark.e6 {
    color:rgb(31, 154, 255);
    background:none;
}

footer {
    background-color:rgb(36, 40, 90);
    padding:10px;
    color:rgb(177, 177, 177);
}

footer article {
    margin:0px;
}

footer img {
    display:block;
    margin:auto;
    margin-top:20px;
    background-color:var(--cor2);
    border-radius:50%;
}

footer h1 {
    color:white;
    margin-bottom:10px;
}

footer h3 {
 font-size:16px;
 margin-top:16px;
 margin-bottom:30px;
}

footer section#final {
    display:flex;
    justify-content: space-around;
}

footer div {
    margin-left:20px;
}

footer div h6 {
    color:white;
    font-size:20px;
}

footer div ul {
    list-style-type: none;
}

footer div a {
    color:rgb(177, 177, 177);
    text-decoration:none;
    font-size: 20px;
}

@media screen and (min-width:768px) and (max-width:992px) {

    header {
        height:50px;
    }

    header h1 {
        font-size:1.5em;
    }

    header img {
        width:40px;
    }

    header a p{
        font-size:1em;
    }

    menu ul {
        justify-content: left;
        padding:0px;
    }

    menu li {
        margin-left:10px;
        padding:10px;
    }

    main {
        max-width:900px;
        margin:auto;
        margin-top:40px;
        margin-bottom:40px;
    }

    div.table {
        margin:auto;
    }

    footer article{
        display:flex;
        flex-wrap: wrap;
        max-width:800px;
        margin:auto;
    }

    footer div.text-footer {
        width:350px;
    }

    footer div.links {
        line-height:2em;
        margin-right:10px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    header h1 {
        font-size:1.3em;
    }
    menu ul {
        justify-content: left;
        padding:0px;
    }

    menu li {
        margin-left:10px;
        padding:10px;
    }

    main {
        max-width:900px;
        margin:auto;
        margin-top:40px;
        margin-bottom:40px;
    }

    div.table {
        margin:auto;
    }


    footer article{
        display:flex;
        flex-wrap: wrap;
        max-width:800px;
        margin:auto;
    }

    footer div.text-footer {
        width:350px;
    }

    footer div.links {
        line-height:2em;
        margin-right:10px;
    }
}

@media screen and (min-width:1200px) {
    header h1 {
        font-size:1.3em;
    }

    menu ul {
        justify-content: left;
        padding:0px;
    }

    menu li {
        margin-left:10px;
        padding:10px;
    }

    span.material-icons {
        display:none;
    }

    menu#itens {
        display:block;
    }

    main {
        max-width:900px;
        margin:auto;
        margin-top:40px;
        margin-bottom:40px;
    }

    footer article{
        display:flex;
        flex-wrap: wrap;
        max-width:800px;
        margin:auto;
    }

    footer div.text-footer {
        width:350px;
    }

    footer div.links {
        line-height:2em;
        margin-right:10px;
    }
}