@charset "UTF-8";

@font-face {
    font-family:'lemon';
    src: url(../fontes/GaMaamli-Regular.ttf);
}
 
* {
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
}

:root {
    /*cores*/
    --cor1:#101633;
    --cor2:#1C1F46;
    --cor3:#24285A;
    --cor4:#303B7A;
    --cor5:#4D5FC4;
    --cor6:#571396;
    --cor7:#943ae9;
    --cor8:#613c0c;
    --cor9:#fbbe3c;
}


body {
    height:100vh;
    background-color:#101633;
}

header {
    background-color:var(--cor4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    height:45px;
}

header section#title {
    display:flex;
    align-items:center;
}

header h1 {
    color:white;
    margin:5px;
    font-size:1.3em;
    font-family:'lemon';
}


header img {
    width:35px;
    margin:5px;
    background-color:var(--cor5);
    padding:5px;
    border-radius:50%;
}

header a {
    display:flex;
    color:white;
    text-decoration: none;
    align-items: center;
}

header a:hover {
    color:var(--cor2);
}

header a p {
    background-color:var(--cor5);
    padding:10px;
    font-size:0.8em;
    border-radius:5px;
}

header span {
    color:white;
    cursor:pointer;
}


menu#itens {
    display:none;
    background-color:var(--cor4);
    margin:auto;
    width:100%;
    height:45px;
    border-top:1px solid var(--cor2);
    margin-bottom:20px;
}

menu ul {
    display:flex;
    height:100%;
    list-style-type:none;
    justify-content: space-evenly;
    align-items: center;
}

menu li {
    background-color:var(--cor4);
    padding:5px;
    
}

menu a {
    color:white;
    text-decoration:none;
}

menu a:hover {
    color:rgb(214, 212, 212);
}

main {
    background-color:#1C1F46;
    padding:15px;
    width:90%;
    margin:auto;
    border-radius:5px;
    margin-top:10px;
}

main article {
    background-color:#24285A;
    padding:10px;
    border-radius:10px;
}

/*Onde vai ficar a cabeça do Personagem ou a foto*/

main div#cabeçalho {
    display:flex;
    justify-content:center;
    margin-bottom:20px;
    position: relative;
}

main img#pers{
    background-image:linear-gradient(to bottom, var(--cor8), var(--cor9));
    border-radius:5px;
    width:125px;
}

    div#nome {
    margin:auto;
    margin-bottom:10px;
}

    div#nome h1 {
    color:white;
    text-align: center;
}

/*Tipo da Arma que o Personagem usa*/

div#centralizar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
 }

div.arm {
    background-color:#303B7A;
    color:white;
    display: flex;
    width:90%;
    height:45px;
    border-radius:5px;
    padding:5px;
    justify-content: center;
    align-items:center;
    margin:5px;
}
main img.gun {
    width:50px;
    margin-right:8px;
    border-radius:5px;
}
 /*Categória do Personagem, como DPS OU OUTRA COISA*/

div#element {
    padding:10px;
    position:absolute;
    top:20%;
    left:90%;
    transform: translate(-50%, -50%);
}

div#element p {
    color:white;
    font-size:.9em;
}

div#element img {
    width:50px;
}

main h2 {
    color:white;
    margin-bottom:10px;
    font-size: 1em;
}

/*Lista do Farm do personagem*/

article h2.center {
    margin-top:10px;
    text-align: center;
}

div#lista { 
    background-color:#24285A;
    display:grid;
    grid-template-columns: 1fr;
    max-width:900px;
    margin:auto;
    border-radius: 5px;
    margin-bottom:10px;
    padding-top:5px;
    padding:5px;
}

div.duas-prt {
    margin-top:-5px;
}


div.txt {
    background-color:#303B7A;
    border-radius: 5px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    margin:5px 10px; 
    padding: 5px;
}


div.txt > img {
    width:60px;
}

div.txt > p {
    color:white;
    font-size: 1em;
}

/*Armas do Personagem*/

div#armas {
    background-color:#24285A;
    max-width: 800px;
    margin:auto;
    width:90%;
    display: flex;
    flex-wrap:wrap;
    margin-bottom:10px;
    padding:10px;
    border-radius: 5px;
}

div#armas > div.alinhar {
  background-color:#303B7A;
  width:100%;
  padding:10px;
  margin:5px;
  border-radius:5px;
  display: flex;
  align-items:center;
}

div#armas > div.quatro {
    background-color:#303B7A;
    width:100%;
    padding:10px;
    margin:5px;
    border-radius:5px;
    display: flex;
    align-items:center;
}

div.alinhar > p {
    color:white;
    margin-left:10px;
    margin-right: 20px;
    background-color: #24285A;
    padding:15px;
    border-radius: 5px;
}

div.quatro > p{
    color:white;
    margin-left:10px;
    margin-right: 20px;
    background-color:#24285A;
    padding:15px;
    border-radius: 5px;
}

div.alinhar img {
    width:50px;
    background-image: linear-gradient(to bottom, rgb(97, 60, 12), rgb(251, 190, 60));
    border-radius: 5px;
}

div.quatro img {
    width:50px;
    background-image:linear-gradient(to bottom, rgb(87, 19, 150),rgb(148, 58, 233));
    border-radius: 5px;
}

/*Artefatos do Personagem*/

div#artefato {
    background-color:#24285A;
    margin:auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom:10px;
    padding:10px;
    border-radius: 5px;
}

div#artefato > div.ordem {
    background-color:var(--cor4);
    width:90%;
    padding:10px;
    margin:5px;
    margin-right:5px;
    border-radius:5px;
    display: flex;
    align-items:center;
    position:relative;
  }

  div.teste {
    position:relative;
    }

  div.teste p.quantidade {
    color:white;
    margin-left:10px;
    margin-right: 20px;
    background-color: blue;
    width:10px;
    height:10px;
    padding:5px;
    border-radius: 5px;
    font-size:.9em;
    text-align:center;
    line-height:10px;
    position: absolute;
    top:74%;
    left:60%;
    transform:translate(-50%, -50%);
}


  div.ordem > p {
    color:white;
    margin-left:10px;
    margin-right: 20px;
    background-color:var(--cor3);
    padding:15px;
    border-radius: 5px;
    font-size:.9em
}

div.ordem img {
    width:50px;
    background-image: linear-gradient(to bottom, var(--cor8), var(--cor9));
    border-radius: 5px;
}

div#duas img{
    margin-right:px;
}


div.artefatos-2 {
    width:50%;
    color:white;
    display:flex;
    align-items: center;
}

div.artefatos-2 p.desapareça {
    color:white;
    margin-left:10px;
    margin-right: 20px;
    background-color:var(--cor3);
    padding:15px;
    border-radius: 5px;
    font-size:.9em;
    display:none;
}



/*Status do Personagem*/

div#stats {
    background-color:var(--cor3);
    max-width:900px;
    margin:auto;
    margin-bottom:10px;
    padding:10px;
    border-radius: 5px;
}

div#stats > div.stats-o {
    background-color:var(--cor4);
    color:white;
    margin:auto;
    width:85%;
    margin-bottom:10px;
    border-radius:5px;
    padding:15px;
    text-align: center;
}

div.stats-1 {
    background-color:var(--cor4);
    color:white;
    margin:auto;
    width:85%;
    margin-bottom:10px;
    border-radius:5px;
    padding:15px;
    text-align: center;
}

/*Video do Personagem*/

section#posiçao {
    border-radius:5px;
    padding:10px;
    background-color: var(--cor2);
}


h1#aumenta {
    font-size:1.8em;
    color:white;
    margin-left:5px;
    margin-bottom:5px;
}

div#video {
    position:relative;
    width:100%;
    height:200px;
    margin-bottom:10px;
}

div#video iframe {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius:5px;
}

/*Times do Personagem*/

section h2.center {
    text-align: center;
}

section > div#teams {
    background-color:var(--cor2);
    padding:5px;
    padding-bottom:20px;
    border-radius: 5px;
}

section > div#teams > h2 {
    margin-left:20px;
    margin-top: 5px;
}

div.equipe {
   width:100%;
}

section > div#teams > div.pers {
    background-color:var(--cor4);
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    border-radius: 5px;
    width:90%;
    padding:5px;
    margin:auto;
    margin-top:5px;
}

    div.laranja img {
    width:60px;
    border-radius: 5px;
    background-image:linear-gradient(to bottom, var(--cor8), var(--cor9));
}

div.juntos {
    position:relative;
}


div.redondo img {
    position:absolute;
    top:15%;
    left:90%;
    transform:translate(-50%, -50%);
    width:20px;
    padding:2px;
    border-radius:50%;
    background-color: black;
}

div.redondo2 img {
    position:absolute;
    top:0%;
    left:70%;
    width:20px;
    padding:2px;
    border-radius:50%;
    background-color: black;
}

div.roxo img {
    width:60px;
    background-image:linear-gradient(to bottom, var(--cor6), var(--cor7));
    margin-top: 4px;
    margin-bottom:2px;
    border-radius:5px;
}

/*Talentos do Personagem*/
div.talents {
    background-color:var(--cor2);
    padding:8px;
    border-radius: 5px;
    margin-top:10px;
}


section h2.top {
    margin-top: 15px;
    font-size: 1.3em;
}

div.talento img {
    width:80px;
    background-color:var(--cor3);
    border-radius:50%;
    display:block;
    margin:auto;
}

div.talento h3 {
    color:white;
    text-align:center;
    margin:10px 0px;
}

div.talento h1 {
    color:white;
    font-size: 1.1em;
    font-weight:bolder;
    margin-bottom:5px;
    text-align: center;
}

div.talento p {
    color:rgb(204, 200, 200);
    margin-left:5px;
    text-align:justify;
    line-height: 1.3em;
}

div.talento mark {
    background:none;
    border-radius:5px;
    color:rgb(246, 55, 55);  
}

/*Passivas do personagem*/

div.passive1 img {
    width:65px;
    background-color:var(--cor3);
    padding:5px;
    padding-right:10px;
    border-radius:50%;
    display:block;
    margin:auto;
}

div.passive1 h3 {
    color:white;
    text-align: center;
    margin:10px 0px;
}

div.passive1 h1 {
    color:white;
    text-align: center;
    font-size: 1.1em;
    font-weight:bolder;
    margin-bottom:5px;
}

div.passive1 p {
    color:rgb(204, 200, 200);
    margin-left:5px;
    text-align:justify;
    line-height: 1.3em;
}



div.passive2 img {
    width:70px;
    background-color:var(--cor3);
    padding:5px;
    padding-top:15px;
    border-radius:50%;
    display:block;
    margin:auto;
}

div.passive2 h3 {
    color:white;
    text-align: center;
    margin:10px 0px;
}

div.passive2 h1 {
    color:white;
    text-align: center;
    font-size: 1.1em;
    font-weight:bolder;
    margin-bottom:5px;
}

div.passive2 p {
    color:rgb(204, 200, 200);
    margin-left:5px;
    text-align:justify;
    line-height: 1.3em;
}

/*Acensão do Personagem*/

div#tabela {
    overflow-x:auto;
}

table {
    background-color:var(--cor2);
    width:90%;
    margin:auto;
}

th {
    color:rgb(233, 232, 232);
    font-size:1.2em;
    padding:10px;
    background-color:var(--cor2);
}

tr {
    background-color: var(--cor3);
    color:white;
}

td {
  text-align: center;
  padding:5px;
}

td div.juntar {
    display:flex;
    align-items: center;
}

td div.juntar h6 {
    background-color: rgb(34, 34, 255);
    padding:10px;
    border-radius:5px;
}

td img {
    width:50px;
}

footer {
    background-color:rgb(36, 40, 90);
    padding:10px;
    color:rgb(177, 177, 177);
    margin-top:20px;
}

footer img {
    display:block;
    margin:auto;
    margin-top:20px;
    background-color: rgb(42, 42, 182);
    border-radius:50%;
}

footer {
    background-color:rgb(36, 40, 90);
    padding:10px;
    color:rgb(177, 177, 177);
}

footer img {
    display:block;
    margin:auto;
    margin-top:20px;
    background-color: rgb(42, 42, 182);
    border-radius:50%;
}

footer h1 {
    color:white;
    margin-bottom:10px;
}

footer h3 {
 font-size:16px;
 margin-top:16px;
 margin-bottom:30px;
}

footer section#final {
    display:flex;
    justify-content: space-around;
}

footer div {
    margin-left:20px;
}

footer div h6 {
    color:white;
    font-size:20px;
}

footer div ul {
    list-style-type: none;
}

footer div a {
    color:rgb(177, 177, 177);
    text-decoration:none;
    font-size: 20px;
}

section mark.e {
    background:none;
    border-radius:5px;
    color:rgb(194, 56, 248);
}


section mark.p {
    background:none;
    border-radius:5px;
    color:rgb(246, 55, 55);  
}

section mark.c {
    color:rgb(148, 227, 251);
    background:none;
}

section mark.d {
    color:rgb(105, 255, 118);
    background:none;
}

section mark.g {
    color:yellow;
    background:none;
}

section mark.h {
    color:rgb(31, 154, 255);
    background:none;
}

section mark.a {
    color:rgb(31, 255, 169);
    background:none;
}

@media screen and (min-width:768px) and (max-width:992px) {
    header h1 {
        font-size:1.5em;
    }

    header {
        height:50px;
    }

    header img {
        width:45px;
    }

    header a p {
        font-size:1em;
    }
    
    menu ul {
        justify-content: left;
        padding:0px;
    }

    menu li {
        margin-left:10px;
        padding:10px;
    }

    main {
        max-width:650px;
    }
    /*Cabeçalho*/
    div#ajeitar {
        padding:10px;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom:15px;
        position: relative;
    }

    div#centralizar {
        flex-wrap:nowrap;
        margin-left:10px;
        margin-top:20px;
    }

    div#nome {
        position: absolute;
        top:20%;
        left:35%;
        transform:translate(-50%, -50%);
    }

    div#nome h1 {
        font-size: 1.8em;
    }

    div#element {
        position: absolute;
        top:15%;
        left:10%;
        transform:translate(-50%, -50%);
    }

    article h2.center {
        text-align: left;
        margin-left:10px;
        font-size:1.2em;
        width:100%;
    }
    
    /*Materiais de farm*/
    div#lista {
        display:flex;
        flex-wrap: wrap;
    }

    div.duas-prt {
       width:50%;
    }

    /*Artefatos*/
    div.artefatos-2 p.desapareça {
        display:block;
    }

    /*Video do personagem*/
    section#posiçao {
        height:400px;
        background-color: #101633;
    }

    div#video {
        height:400px;
    }


    div#video iframe {
        height:340px;
        width:610px;
    }

    /*Time pro personagem*/

    section > div#teams {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    section > div#teams > div.pers {
        width:275px;
        margin:0px;
        margin-top:10px;
    }

    /*Talentos do personagem*/

    div.talento {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }

    div.text-talent {
        width:70%;
    }

    /*Passivas*/

    div.passive1 {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }


    div.passive2 {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }

    /*footer*/
    
    footer article{
        display:flex;
        flex-wrap: wrap;
        max-width:800px;
        margin:auto;
    }

    footer div.text-footer {
        width:350px;
    }

    footer div.links {
        line-height:2em;
        margin-right:10px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {

    header h1 {
        font-size:1.5em;
    }

    header {
        height:50px;
    }

    header img {
        width:45px;
    }

    header a p {
        font-size:1em;
    }
    
    menu ul {
        justify-content: left;
        padding:0px;
    }

    menu li {
        margin-left:10px;
        padding:10px;
    }

    main {
        width:950px;
    }

    /*Cabeçalho*/
    div#ajeitar {
        padding:10px;
        margin-left:15px;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom:15px;
        position: relative;
    }

    div#centralizar {
        flex-wrap:nowrap;
        margin-left:10px;
        margin-top:20px;
    }

    div#nome {
        position: absolute;
        top:20%;
        left:22%;
        transform:translate(-50%, -50%);
    }

    div#nome h1 {
        font-size: 1.8em;
    }

    div#element {
        position: absolute;
        top:15%;
        left:10%;
        transform:translate(-50%, -50%);
    }
    
    /*Materiais de farm*/

        div#lista {
        display:flex;
        flex-wrap:wrap;
        width:100%;
    }

    div.duas-prt {
       display:flex;
       justify-content: space-between;
       width:100%;
    }

    div.txt {
      width:100%;
    }

    article h2.center {
        text-align: left;
        margin-left:10px;
        font-size:1.3em;
    }


     /*Artefatos e Armas*/
     div#duas-prt2 {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:90%;
        margin:auto;
        margin-top:15px;
    }
    
    div#duas-prt2  section#lista-armas{
        width:40%;
    }

    div#duas-prt2 section#lista-artefato {
        width:60%;
    }

    div#armas {
        width:90%;
    }

    div#artefato {
        width:100%;
    }


     section div#armas h2 {
        text-align: center;
        width:100%;
        font-size:1.3em;
    }

     section div#artefato h2 {
        text-align: center;
        width:100%;
        font-size:1.3em;
    }

    /*Artefatos*/
    div.artefatos-2 p.desapareça {
        display:block;
        font-size:.9em;
    }

    /*Status do personagem*/

    section#status h2 {
        font-size:1.2em;
        margin-left:10px;
    }

    div#stats {
        display:flex;
        flex-wrap: wrap;
    }

     div#stats div.stats-o {
        width:267px;
    }

    div#stats div.stats-1 {
        width:100%;
    }

    /*Video do personagem*/
    section#posiçao {
        height:600px;
        background-color: #101633;
    }

    div#video {
        height:600px;
    }


    div#video iframe {
        height:550px;
        width:900px;
    }

    /*Time pro personagem*/

    section > div#teams {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    section > div#teams > div.pers {
        width:275px;
        margin:0px;
        margin-top:10px;
    }

    /*Talentos do personagem*/

    div.talento {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }

    div.text-talent {
        width:70%;
    }

    /*Passivas*/

    div.passive1 {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }


    div.passive2 {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }

    /*footer*/
    
    footer article{
        display:flex;
        flex-wrap: wrap;
        max-width:800px;
        margin:auto;
    }

    footer div.text-footer {
        width:350px;
    }

    footer div.links {
        line-height:2em;
        margin-right:10px;
    }
}

@media screen and (min-width:1200px) {

    header span.material-icons {
        display:none;
    }

    menu#itens {
        display:block;
        width:100%;
        font-size:1em;
    }

    header h1 {
        font-size:1.5em;
    }

    header {
        height:50px;
    }

    header img {
        width:45px;
    }

    header a p {
        font-size:1em;
    }
    
    menu ul {
        justify-content: left;
        padding:0px;
    }

    menu li {
        margin-left:10px;
        padding:10px;
    }


    main {
        width:950px;
    }

    /*Cabeçalho*/
    div#ajeitar {
        padding:10px;
        margin-left:15px;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom:15px;
        position: relative;
    }

    div#centralizar {
        flex-wrap:nowrap;
        margin-left:10px;
        margin-top:20px;
    }

    div#nome {
        position: absolute;
        top:20%;
        left:22%;
        transform:translate(-50%, -50%);
    }

    div#nome h1 {
        font-size: 1.8em;
    }

    div#element {
        position: absolute;
        top:15%;
        left:10%;
        transform:translate(-50%, -50%);
    }
    
    /*Materiais de farm*/

        div#lista {
        display:flex;
        flex-wrap:wrap;
        width:100%;
    }

    div.duas-prt {
       display:flex;
       justify-content: space-between;
       width:100%;
    }

    div.txt {
      width:100%;
    }

    article h2.center {
        text-align: left;
        margin-left:10px;
        font-size:1.3em;
    }


     /*Artefatos e Armas*/
     div#duas-prt2 {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:90%;
        margin:auto;
        margin-top:15px;
    }
    
    div#duas-prt2  section#lista-armas{
        width:40%;
    }

    div#duas-prt2 section#lista-artefato {
        width:60%;
    }

    div#armas {
        width:90%;
    }

    div#artefato {
        width:100%;
    }


     section div#armas h2 {
        text-align: center;
        width:100%;
        font-size:1.3em;
    }

     section div#artefato h2 {
        text-align: center;
        width:100%;
        font-size:1.3em;
    }

    /*Artefatos*/
    div.artefatos-2 p.desapareça {
        display:block;
        font-size:.9em;
    }

    /*Status do personagem*/

    section#status h2 {
        font-size:1.2em;
        margin-left:10px;
    }

    div#stats {
        display:flex;
        flex-wrap: wrap;
    }

     div#stats div.stats-o {
        width:267px;
    }

    div#stats div.stats-1 {
        width:100%;
    }

    /*Video do personagem*/
    section#posiçao {
        height:600px;
        background-color: #101633;
    }

    div#video {
        height:600px;
    }


    div#video iframe {
        height:550px;
        width:900px;
    }

    /*Time pro personagem*/

    section > div#teams {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    section > div#teams > div.pers {
        width:275px;
        margin:0px;
        margin-top:10px;
    }

    /*Talentos do personagem*/

    div.talento {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }

    div.text-talent {
        width:70%;
    }

    /*Passivas*/

    div.passive1 {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }


    div.passive2 {
        display:flex;
        align-items:center;
        justify-content: space-around;
    }

    /*footer*/
    
    footer article{
        display:flex;
        flex-wrap: wrap;
        max-width:900px;
        margin:auto;
    }

    footer div.text-footer {
        width:500px;
    }

    footer div.links {
        line-height:2em;
        margin-right:10px;
    }
}
